@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@plugin "daisyui" {
  themes: bumblebee --default;
}

@theme {
  --font-display: "Maragsa", system-ui;
  --default-font-family: "Inter", system-ui;
}

@font-face {
  font-family: "Maragsa";
  src: url("./assets/fonts/maragsa.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
